<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>403 Forbidden</title>
	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
		rel="stylesheet" />
	<!-- tailwindcss -->
	<link rel="stylesheet" href="/public/css/style.css" />
	<!-- cdn tailwindcss -->
	<script src="https://cdn.tailwindcss.com"></script>
	<!-- style -->
	<style>
		.font-rubik {
			font-family: Rubik, sans-serif;
		}
	</style>
</head>

<body class="bg-light-gray">
	<section
		class="flex flex-col items-center justify-center gap-[14px] px-[372px] py-[280px] font-rubik font-semibold">
		<h1 class="-mb-8 text-[170px]">4<span class="text-[#4a69e2]">0</span>3</h1>
		<h3 class="text-[36px]">Access denied</h3>
		<p class="text-[24px] font-normal">You do not have permission to access this resource</p>
	</section>
	<!-- js -->
	<script type=" module" src="/public/js/script.js"></script>
</body>

</html>